.productList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 35px;
  padding: 20px !important;
  align-items: baseline;
}

.list {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.img_wrap {
  height: 230px;
  overflow: hidden;
}

.img_wrap img {
  width: 150px;
  height: 200px;
  text-align: center;
  transition: transform 0.7s ease;
}

.product_container:hover img {
  transform: scale(1.2);
  padding-top: 10px;
}

.productList h3 {
  font-size: 17px;
  padding: 12px 5px 10px 5px;
  font-family: "Roboto", Times, serif;
}

.productList h4 {
  font-size: 18px;
  font-weight: 500;
  padding: 10px 0 10px 0;
}

.productList p {
  padding: 10px;
  font-size: 16px;
  color: gray;
  border-bottom: 1px solid gray;
}

.btn:focus {
  outline: 0 !important;
  box-shadow: none;
}

.addToCartBtn {
  font-size: 17px;
  padding: 6px;
  margin: 0;
  background: #fe4c50 !important;
  display: inline !important;
  width: 140px;
  margin-bottom: 15px;
  font-weight: 400;
  color: #ffff;
}

.addToCartBtn:hover .fas {
  color: #fff !important;
  transition: 0.3s ease;
}

.product-search-button input {
  padding: 10px;
  background-color: black;
  border: none;
  outline: none;
  color: #ffff;
}
::placeholder {
  color: white;
}

.product-grid i {
  font-size: 30px;
  cursor: pointer;
}

/* Media query */
@media (max-width: 900px) {
  .productList,
  .list {
    display: block;
  }

  .product_container {
    margin-bottom: 30px !important;
  }

  .product-grid i {
    display: none;
  }
}

@media (max-width: 500px) {
  .product-search-button input {
    padding: 5px;
    width: 50%;
  }
  .product-search-button small {
    display: block;
  }
}
