table h6 {
  font-size: 20px;
}
.clear_cart {
  border: 2px solid #fe4c50;
  border-radius: 5px;
  color: #fe4c50;
  font-size: 18px;
  cursor: pointer;
  font-weight: 400;
  padding: 1px 23px;
  text-decoration: none;
}

.total_cost {
  font-weight: bold;
  font-size: 17px;
  font-style: italic;
}
.Cart_table i {
  color: #fe4c50;
  font-weight: bold;
  font-size: 18px !important;
  cursor: pointer;
}
.cart_item button {
  border: none;
  color: black;
  width: 90%;
  padding: 5px;
  background-color: #fe4c50;
  outline: none;
}


@media screen and (max-width: 500px) {
  .cart-table-title {
    font-size: 13px;
    
  }
}
