.Nexted-router-image img {
  height: 70%;
  width: 70%;
  background-color: #eee;
  margin-top: 40px;
}
.Nexted-router-image img:hover {
  border-radius: 0;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}
.Nexted-router-text {
  margin-top: 150px;
}
.Nexted-router-text h3 {
  font-size: 20px;
  font-weight: bold;
}
.Nexted-router-text p {
  text-align: justify;
  font-size: 15px;
  font-weight: 700;
  text-align: center;
  word-spacing: 1px;
  font-family: "Courier New", Courier, monospace;
  margin-top: 30px;
}
.Nexted-router-text button {
  color: #ffffff;
  background-color: #fe4c50;
  width: 160px;
  height: 46px;
  border: none;
  font-weight: 500;
  outline: none;
}
.Nexted-router-text button:hover {
  background-color: black;
  color: #ffffff;
}

@media screen and (max-width: 500px) {
  .Nexted-router-text h3 {
    font-size: 15px;
  }
  .Nexted-router-text p {
    align-items: center !important;
  }
  .Nexted-router-text {
    margin-top: -1.8em;
  }
}
